np {
    margin: 0;
    padding:  0;
}

input {
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
    border: 0;
}

input, textarea, .editor{
    box-sizing: border-box;
    background: transparent;
    border: 1px solid #ced4da;
    padding: 10px;
    border-radius: 8px;
    font-weight: 300 !important;
}

.Tabbar {
    position: fixed;
    bottom: 0;
    max-width: 100%;
    min-width: 100%;
}

.MainPhoto {
    width: 100px;
    transition: 0.2s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.home {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 10px;
}

.Card {
    padding: 5px !important;
    box-sizing: border-box;
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 1;
    height: 65vh;
    position: relative;
}

.CardInner {
    box-sizing: border-box;
    border: 0.5px solid rgba(191, 191, 191, 0.572);
    border-radius: 5px;
    margin-bottom: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

}

.PhotoInner{
    width: 100%;
    height: 100%;
    position: relative;
    flex-basis: 90%;
    flex-grow: 1;
    flex-shrink: 0;
    overflow: hidden;
}

.PhotoInner img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.CardText{
    width: 100%;
    margin: 0;  
    font-weight: 500;
    flex-basis: 10%;
    flex-grow: 0;
    flex-shrink: 1;
}

.CardText{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (hover: hover) {
    .Card:hover {
        opacity: 0.8;
        scale: 0.98;
    }
}

.BackButton {
    border-radius: 50%;
    padding: 5px;
    color: #818c99;
}

@media (hover: hover) {
    .BackButton:hover {
        color: #606871;
    }
}

.SkipButton {
    position: absolute;
    left: 0;
    top: 0;
    background: transparent !important;
    border: 0;
    padding: 20px;
    opacity: 0.4;
}

.editor {
    counter-reset: line;
    border: 0.1px solid #fff;
    width: 100%;
}

.editor #codeArea {
    outline: none;
    padding-left: 30px !important;
}

.editor pre {
    padding-left: 30px !important;
}

.editor .editorLineNumber {
    position: absolute;
    left: 0px;
    color: #cccccc;
    text-align: right;
    width: 20px;
    font-weight: 100;
}

.admin {
    text-align: left;
    width: 100%;
}

.form > div {
    counter-reset: line;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
}

.directoryInner {
    padding: 10px;
}
.form > div input {
    margin: 5px 0;
}

.form Button {
    margin: 5px 0;
}

.directory {
    box-sizing: border-box;
}

.directory h3 {
    font-size: 16px;
}

.directory h4 {
    font-size: 14px;
    font-weight: 400;
}

.directory h3, h4 {
    margin: 0;
}

.vkuiFormItem {
    padding: 0 !important;
}

.controller {
    width: 100%;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.group{
    width: 100%;
}

form h1 {
    margin: 10px 5px;
}
